@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

.titulo {
    font-size: 36px;
    letter-spacing: 2px;
    color: whitesmoke;
}

nav { 
    position: fixed; 
    width: 100%; 
    height: 90px; 
    z-index: 1050; 
    display: flex; 
    align-items: center;
    gap: 700px;
    justify-content: space-around;
    background-color: rgb(20, 37, 59);
}

.svg-titulo {
    font-size: 28px;
    margin-right: 2px;
}

.fi-bs-angle-right {
    font-size: 12px;
}

.titulo-2{
    color: aqua;
    font-family: 'Noto Sans', sans-serif;
}

.menu-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(20, 37, 59);

}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
  /*  margin-top: 40px;
    margin-right: 60px; */
}

.links-nav {
    color: whitesmoke;
}

/* fim header */


/* conteudo */

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 37, 59);
    display: flex;
    flex-direction: row;
    gap: 260px;
}

.titulo-p {
    color: #77ffe8;
    margin-top: 120px;
    margin-left: 60px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
}

.btn-contato {
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid whitesmoke;
    padding: 11px;
    font-size: 18px;
    margin-left: 60px;
    box-shadow: 0px 10px 40px -12px #ffffff59;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 5px;
}

.btn-contato:hover {
    background-color: #247063;
    transition: 0.4s;
    
}

/* fim conteudo */

.animated {
    width: 575px;
    margin-bottom: 120px;
}


/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	display: none;
}
 
::-webkit-scrollbar-track-piece  {
	background-color: #3b3b3b;
	-webkit-border-radius: 0px;
}
 
::-webkit-scrollbar-thumb:vertical {
	background-color:#00ffd5;
	-webkit-border-radius: 6px;
}